[Unit]
Description=check battery level and control charger
Requires=upower.service
After=upower.service

[Service]
Type=exec
ExecStart=/usr/bin/BatteryService
User=root

[Install]
WantedBy=multi-user.target
